@media screen and (max-width:1400px) {
   #profile {
     height: 83vh;
     margin-bottom: 6rem;
   }
   .about-container {
      flex-wrap: wrap;
   }
}

@media screen and (max-width:1200px) {
    #nav-menu{
        display: none;
    }
    #humberg-nav{
        display: flex;
    }
    #experience ,.experience-details-container {
        margin-top: 2rem;
    }
    #profile,.section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section , .section-container {
        height: fit-content;
    }
    .section {
        margin:  0 5%;
    }
    .pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-container {
        margin-top: 0;
    }
}

